* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Adicionado para melhor gerenciamento de layout */
}

html {
    height: 100%; /* Essencial para o Flexbox */
}

body {
    min-height: 100vh; /* Essencial para o Flexbox */
    display: flex; /* Habilita o Flexbox */
    flex-direction: column; /* Organiza os filhos em coluna (topo para baixo) */
    background-image: url("https://www.shutterstock.com/image-vector/abstract-white-background-modern-design-600nw-2478912715.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

hr {
    margin-top: 0;
    background-color: rgb(107, 161, 107);
    height: 4px;
}

.mulheres {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.divisoria {
    text-align: center;
    margin-top: 5dvh;
}

.botoes {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 80px;
}

.botoes:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px black;
}

.cabecalho {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yODEtYWRqLTA2NS1sLmpwZw.jpg");
    height: 100px;
    background-color: black;
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
}

#titulo {
    text-align: center;
    color: rgb(88, 126, 83);
    font-family: sans-serif;
    font-size: 55px;
}

p {}

.imgcentro {}

nav {}

li {
    display: inline-block;
}

li a {
    font-size: 50px;
}

button {
    font-size: 16px;
    color: rgb(255, 0, 132);
}

main {
    flex: 1; /* O segredo: faz o main crescer e empurrar o rodapé para baixo */
}

.rodape {
    background-image: url("https://i.pinimg.com/1200x/1c/e3/dc/1ce3dc9938260cd96d5f8feb73aa3c2f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 200px;
    padding: 5px 0;
    color: #fff;
    text-align: center;
}

@media(max-width: 768px) { /* Correção: 'max-width' */

    #titulo {
        font-size: 40px;
    }

    .botoes {
        margin: 50px;
    }
}

.texto {
    width: 600px;
    height: auto;
    margin: 124px auto;
    border: 2px solid #333;
    border-radius: 25px;
    padding: 10px;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    align-items: center;
}