*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.mulheres{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.divisoria{
    text-align: center;
    margin-top: 10dvh;
}

.botoes{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 50%;
    margin: 80px;
}

.botoes:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px black;
}



body { 
    background-image: url("https://images.unsplash.com/photo-1563291074-2bf8677ac0e5?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c29mdCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecalho{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdlLoa51Qu_4WszrVDBFQ4OLA3XEisj0K6BQ&s");
    width: 100%;
    height: 100px;
    background-color: black;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

#titulo {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 50px;
}

p {
    
}

.imgcentro {

}

nav{

}

li{
    display: inline-block;
   

}

li a{
    font-size: 50px;

}

button{
    font-size: 16px;
    color: rgb(255, 0, 132);

}

.rodape{
    background-color: gray;
    margin: 0;
}