*{
    margin: 0;
    padding: 0;
}

hr{
    margin-top: 0;
    background-color: rgb(107, 161, 107);
    height: 4px;
}

.mulheres{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.divisoria{
    text-align: center;
    margin-top: 5dvh;
}

.botoes{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 80px;
}

.botoes:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px black;
}



body { 
    background-image: url("https://www.shutterstock.com/image-vector/abstract-white-background-modern-design-600nw-2478912715.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecalho{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yODEtYWRqLTA2NS1sLmpwZw.jpg");
    height: 100px;
    background-color: black;
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
}

#titulo {
    text-align: center;
    color: rgb(88, 126, 83);
    font-family: sans-serif;
    font-size: 55px;
}

p {
    
}

.imgcentro {

}

nav{

}

li{
    display: inline-block;
   

}

li a{
    font-size: 50px;

}

button{
    font-size: 16px;
    color: rgb(255, 0, 132);

}

.rodape{
    height: 80px;
    margin: 0;
    padding: 140px 0;
    background-image: url("https://i.pinimg.com/1200x/1c/e3/dc/1ce3dc9938260cd96d5f8feb73aa3c2f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
}

@media(max-widht: 768px){

#titulo{
    font-size: 40px;
}

.botoes{
    margin: 50px;
}
}